<!--<html>
    <head>-->
        <div>
        <h1>Multiplication Page {{question}}</h1>
        <div>{{title}}</div>
    <mat-toolbar>
        <span>Multiplication</span>
        <div></div>
        <!--QuestionBankService.questionSet.setname-->
      <!--  <input  matInput [readonly]  [(ngModel)]="this.questionSet.setname"  name="operation"  required>-->
 
    </mat-toolbar>
  <mat-card class="my-card">
        <mat-card-content>
            <form class="my-form">
                <mat-form-field class="full-width">
                        <input  matInput [readonly]  placeholder="Times " [(ngModel)]="currentQuestion.question"  name="operation"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Answer</mat-label>
                   <form (keydown)="keyDownFunction($event)"> 
                   <input  matInput placeholder= "Answer" [(ngModel)]="enteredAnswer" name="fAnswer" autocomplete="off"  required>
                   </form>    
                </mat-form-field>
                <mat-divider></mat-divider>
            </form>   
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" (click)="checkAnswer()" color="primary">SUBMIT</button>
          </mat-card-actions>
    </mat-card>
</div>
 <!--   </head>
    <body>
        <my-app> </my-app>        
    </body>
</html>    -->
